@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020617; /* Deep Slate 950 */
  color: white;
}

@keyframes scan-glow {
  0% { transform: translateY(-100%); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

.animate-scan {
  animation: scan-glow 3s infinite linear;
}